.contact
    background-color: lightgreen
    height: 130px

.contact__img
    border: 1px solid black
    width: 30px
    height: 30px

.contact_goBack
    padding-left: 5%
    display: flex
    justify-content: flex-start

.contact_logo
    display: flex
    justify-content: flex-end

.contact_wrapImg
    padding-right:12%

.no-padding
    padding: 0px


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button
    appearance: none
    margin: 0


input[type=number]
    appearance:textfield


.btn-lightgren
    background-color: lightgreen
