<div class="container-fluid no-padding">
    <section>
        <div class="contact">
            <div class="row no-gutters">

                <div class="col-6 contact_goBack">
                    <span><i></i>Regresar</span>
                </div>

                <div class="col-6 contact_logo">
                    <div class="contact_wrapImg">
                        <img class="contact__img" src="" alt="logo de la seccion contacto"  title="logo de la seccion contacto">
                    </div>
                </div>
                
            </div>
            
            <div class="row mt-3 no-gutters justify-content-center">
                <div class="contact__title wow fadeInUp">
                    <h2>Contacto de soporte!</h2>
                    
                </div>
            </div>
            
        </div>
    </section>
</div>

<div class="container">
    <div class="contactForm">
      <form (ngSubmit)="enviar()" [formGroup]="forma"  method="post">
        <div class="form-group row mt-5">
            <div class="col-12 offset-lg-2 col-lg-8">
                <label for="nombreC">
                    <strong> Nombre completo </strong>
                </label>
                <input class="form-control"
                    type="text"
                    id="nombreC"
                    formControlName="nombreC"
                    [ngClass]="{'is-invalid':  (!forma.controls['nombreC'].valid || forma.controls['nombreC'].errors?.minlength)&& forma.controls['nombreC'].touched, 'is-valid': forma.controls['nombreC'].valid }" 
                >
                <div  *ngIf="forma.get('nombreC').errors?.required"  
                    class="invalid-feedback">
                    Requerido
                </div>
                <div  *ngIf="forma.get('nombreC').errors?.minlength"  
                    class="invalid-feedback">
                    Por lo menos 8 caracteres
                </div>
                
            </div>
        </div>

         <div class="form-group row ">
            <div class="col-12 offset-lg-2 col-lg-8">
                <label for="nombreE">
                    <strong> Nombre de la empresa </strong>
                </label>
                <input class="form-control"
                    type="text"
                    id="nombreE"
                    formControlName="nombreE"
                    [ngClass]="{'is-invalid':
                    (  !forma.get('nombreE').valid) 
                    && forma.get('nombreE').touched ,
                    'is-valid': forma.get('nombreE').valid  
                    && !forma.get('nombreE').pristine }"
                >
                <div  *ngIf="forma.get('nombreE').errors?.required"  
                    class="invalid-feedback">
                    Requerido
                </div>
                
            </div>
        </div>

        <div class="form-group row ">
            <div class="col-12 offset-lg-2 col-lg-8">
                <label for="correo">
                    <strong> Correo electrónio </strong>
                </label>
                <input class="form-control user-name-icon"
                    type="text"
                    id="correo"
                    formControlName="correo"
                    [ngClass]="{'is-invalid':(!forma.controls['correo'].valid) && forma.controls['correo'].touched, 'is-valid': forma.controls['correo'].valid }" 
                >
                <div  *ngIf="forma.get('correo').errors?.required"  
                    class="invalid-feedback">
                    Requerido
                </div>

                <div  *ngIf="forma.get('correo').errors?.email"  
                    class="invalid-feedback">
                    Formato de correo incorrecto
                </div>
                
            </div>
        </div>
            
        <div class="row">
    
            <div class="form-group col-12 offset-lg-2 col-lg-4">
                <label class="wow fadeInLeftBig">
                    <strong>Teléfono </strong>
                </label>
                <input 
                    class="form-control user-name-icon"
                    type="number"
                    formControlName="telefono"
                    [ngClass]="{'is-invalid':
                    (  !forma.get('telefono').valid) 
                    && forma.get('telefono').touched ,
                    'is-valid': forma.get('telefono').valid  
                    && !forma.get('telefono').pristine }"
                    />

                    <div  *ngIf="forma.get('telefono').errors?.required"  
                        class="invalid-feedback">
                        Requerido
                    </div>
                    <div  *ngIf="forma.get('telefono').errors?.valid"
                        class="invalid-feedback">
                        Número inválido
                    </div>
            </div>
    
            <div class=" form-group col-12 col-lg-4">
                <label class="wow fadeInRightBig">
                    <strong>Categoría </strong>
                </label>
                <select class="form-control user-name-icon"
                    type="text"
                    id="categoria"
                    formControlName="categoria"
                    [ngClass]="{'is-invalid':
                    (  !forma.get('categoria').valid) 
                    && forma.get('categoria').touched ,
                    'is-valid': forma.get('categoria').valid  
                    && !forma.get('categoria').pristine }"
                >
                <option value="1">1</option>
                </select>

                <div  *ngIf="forma.get('categoria').errors?.required"  
                    class="invalid-feedback">
                    Requerido
                </div>
            </div>
        </div>
    
        <div class="form-group row ">
            <div class="col-12 offset-lg-2 col-lg-8">
                <label for="mensaje">
                    <strong> Mensaje </strong>
                </label>
                <textarea class="form-control"
                    type="text"
                    placeholder="Escriba su mensaje"
                    id="mensaje"
                    formControlName="mensaje"
                    [ngClass]="{'is-invalid':
                    (  !forma.get('mensaje').valid) 
                    && forma.get('mensaje').touched ,
                    'is-valid': forma.get('mensaje').valid  
                    && !forma.get('mensaje').pristine }"
                >
                </textarea>

                <div  *ngIf="forma.get('mensaje').errors?.required"  
                    class="invalid-feedback">
                    Requerido
                </div>
                
            </div>
        </div>
        <div class="form-group mt-5 wow slideInLeft">
            <div class="offset-lg-2 mb-3">
                <button
                    [disabled]="!forma.valid"
                    type="submit" 
                    class="btn btn-lightgren"
                >
                    Guardar
                </button>
            </div>
        </div>

     </form>

    </div>

</div>

